<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/bootstrap-cdn::cdn">
</head>

<body>

<div th:replace="fragments/navbar::navbar"></div>


<div class="container">

    <h1 style="padding: 15px; text-align: center">Welcome <span th:text="${student.firstName}"></span></h1>

    <h4>Current Courses</h4>

    <div th:replace="fragments/list-courses::student-courses"></div>



    <hr>

    <div style="margin-top: 20px">
        <form th:action="@{/listCourses}" method="post">
            <button style="width: 250px;" class="btn btn-outline-primary waves-effect btn-block " type="submit" value="submit">Search Courses</button>
        </form>
    </div>

    <div style="margin-top: 20px">
        <form th:action="@{/logout}" method="post">
            <button style="width: 250px;"  class="btn btn-outline-primary waves-effect btn-block" type="submit" value="submit">Logout</button>
        </form>
    </div>


</div>





</body>
</html>