<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Title</title>

</head>
<body>

<div class="container">
    <h2 class="spacing" th:text="${instructor.fullName}"></h2>

    <h3>Position</h3>
    <h4 th:text="${instructorDetails.position}"></h4>

    <h3>Phone</h3>
    <h4 th:text="${instructorDetails.phone}"></h4>

    <h3>Email</h3>
    <h4 th:text="${instructorDetails.email}"></h4>

    <h3>Location</h3>
    <h4 th:text="${instructorDetails.location}"></h4>


    <h4>Bio</h4>
    <h5 th:text="${instructorDetails.bio}"></h5>


    <div style="padding: 5px">
        <a th:href="@{/listInstructors}">Go Back To Instructors</a>
        <a style="margin-left: 25px" th:href="@{/listCourses}">Go Back To Course Catalog</a>
    </div>

</div>


</body>
</html>