<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Title</title>

</head>
<body>

<div class="container">


    <div class="row">
        <div class="col-6 col-md-4"></div>
        <div class="col-6 col-md-4">
            <div th:each="instructor : ${instructors}">
                <h2 class="spacing" th:text="${instructor.fullName}"></h2>

                <h2 class="spacing" th:text="${instructor.department}"></h2>


                <h3>Position</h3>
                <h4 th:text="${instructor.instructorDetail.position}"></h4>

                <a class="btn btn-info btn-sm"
                   th:href="@{/fullInstructorDetails(id=${instructor.id})}">
                    more</a>



                <hr>

            </div>




        </div>
        <div class="col-6 col-md-4"></div>
    </div>




</div>


</body>
</html>