<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Instructors</title>
</head>
<body>

<h3>Listing Instructors</h3>

<div class="container">

    <h3>Table</h3>


    <table class="table table-bordered table-striped">

        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="temp : ${instructors}">
            <td th:text="${temp.firstName}"></td>
            <td th:text="${temp.lastName}"></td>
            <td th:text="${temp.department}"></td>
            <td>
                <a class="btn btn-info btn-sm"
                   th:href="@{/fullInstructorDetails(instructorId=${temp.id})}">
                    Instructor Details</a>
            </td>

<!--                <a class="btn btn-info btn-sm" th:href="@{/app/instructorCourses(instructorId=${temp.id})}">-->
<!--                    Courses Taught-->
<!--                </a>-->


        </tr>
        </tbody>

    </table>

</div>




</body>
</html>