<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<div th:fragment="list-courses">

    <table class="table table-hover">

        <thead>
        <tr>
            <th>CourseId</th>
            <th>Title</th>
            <th>Credit Hours</th>
            <th>Department</th>
            <th>Instructor</th>
            <th>Description</th>

            <th>Action</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="temp : ${courses}">
                <td th:text="${temp.courseId}"></td>
                <td th:text="${temp.title}"></td>
                <td th:text="${temp.creditHours}"></td>
                <td th:text="${temp.department}"></td>

                <td>
                    <a th:href="@{/instructorDetails(courseId=${temp.id})}"
                        th:text="${temp.instructor.FullName}"
                    ></a>
                </td>

                <td>
                    <a class="btn btn-info btn-sm"
                       th:href="@{/courseDescription(courseId=${temp.id})}"
                       target="_blank"
                    >
                        Description</a>
                </td>

                <td>
                    <a class="btn btn-info btn-sm"
                       th:href="@{/addCourseToStudent(courseId=${temp.id})}"
                       >Add</a>
                </td>

            </tr>
        </tbody>
    </table>

</div>



<!--same as above but with option to drop a course-->

<div th:fragment="student-courses">

    <table class="table table-hover">

        <thead>
        <tr>
            <th>CourseId</th>
            <th>Title</th>
            <th>Credit Hours</th>
            <th>Department</th>
            <th>Instructor</th>
            <th>Description</th>

            <th>Action</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="temp : ${courses}">
                <td th:text="${temp.courseId}"></td>
                <td th:text="${temp.title}"></td>
                <td th:text="${temp.creditHours}"></td>
                <td th:text="${temp.department}"></td>

                <td>
                    <a th:href="@{/instructorDetails(courseId=${temp.id})}"
                       th:text="${temp.instructor.FullName}"
                    ></a>
                </td>

                <td>
                    <a class="btn btn-info btn-sm"
                       th:href="@{/courseDescription(courseId=${temp.id})}"
                       target="_blank"
                        >
                        Description</a>
                </td>


                <td>
                    <a class="btn btn-info btn-sm"
                       id="drop-class"
                       th:href="@{/dropCourse(courseId=${temp.id})}"
                       onclick="if (!(confirm('Are you sure you want to drop this class?'))) return false"
                     >
                        Drop</a>
                </td>

            </tr>

        </tbody>
    </table>


</div>







</html>