<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Add Student</title>
</head>
<body>


<div class="container" style="padding: 30px;">

    <h3>Create A Student</h3>
    <hr>

    <form th:action="@{/admin/processCreateStudentForm}" th:object="${student}" method="post" >

        <!--        this stops hibernate from increasing the id and making an unwanted duplicate entry-->
        <input type="hidden" th:field="*{id}">

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input th:field="*{firstName}" type="text" class="form-control" id="firstName" placeholder="Enter first name">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input  th:field="*{lastName}"  type="text" class="form-control" id="lastName" placeholder="Enter last name">
        </div>

        <div class="form-group">
            <label for="department">Email</label>
            <input  th:field="*{email}"  type="text" class="form-control" id="department" placeholder="Enter email" >
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>

    </form>


    <hr>

    <a th:href="@{/admin}">Go Back</a>



</div>





</body>
</html>