<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">



    <title>Courses</title>
</head>
<body>

<h3>Listing Courses</h3>

<div class="container">


    <h3>Search By Department</h3>

    <h5>Search By Department</h5>

    <form th:action="@{/searchByDepartment}" th:object="${department}" th:method="Get" >
        <select th:field="*{department}" >
            <option th:each="temp : ${departments}"
                    th:value = "${temp.getDepartment()}"
                    th:text = "${temp.getDepartment()}"
            ></option>

        </select>

        <input type="submit" value="submit" />

    </form>






    <table class="table table-bordered table-striped">

        <thead class="thead-dark">
        <tr>
            <th>CourseId</th>
            <th>Title</th>
            <th>Credit Hours</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="temp : ${courses}">
            <td th:text="${temp.courseId}"></td>
            <td th:text="${temp.title}"></td>
            <td th:text="${temp.creditHours}"></td>
            <td th:text="${temp.department}"></td>


            <td>
                <a class="btn btn-info btn-sm"
                   th:href="@{/instructorDetails(courseId=${temp.id})}">
                    Instructor</a>

                <a class="btn btn-info btn-sm"
                   th:href="@{/courseDescription(courseId=${temp.id})}">
                    Description</a>

            </td>


        </tr>
        </tbody>

    </table>

</div>





<script th:inline="javascript">
    /*<![CDATA[*/



    /*]]>*/
</script>




</body>


</html>